* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 8vh;
  background-color: #7f00ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  color: white;
}

a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

table {
  width: 70%;
  margin: auto;
  position: relative;
  top: 1rem;
}

table,
tr,
td,
th {
  padding: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

th {
  font-weight: bold;
}

td {
  text-align: center;
}

img {
  width: 5rem;
  height: 5rem;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

button:hover {
  background-color: #c0392b;
}
