*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----NAVIGATION-----*/
nav{
    display: flex;
    min-height: 8vh;
    background-color: #7F00FF;
    box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.5);
}

.logo{
    justify-content: space-around;
    padding: 15px 0px 4px 0px;
    display: block;
    height: auto;
    overflow: visible;
    margin-left: 20%;
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}

/*----MAIN----*/
.main{
    width: 60%;
    height: auto;
    border-radius: 3px;
    margin: auto;
    margin-top: 35px;
    display: block;
}

/*--------HEADER---------*/
.post-container {
  width: 100%;
  height: auto;
}

.post-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.post-user {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

.post-profile {
  width: 50px;
  height: 50px;
  margin: 1rem;
  position: relative;
}

.post-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/*-----------DELETE-OPTIONS-------------*/
.post-options {
  position: relative;
  display: inline-block;
  font-size: 2rem;
}

.dropbtn {
  background: transparent;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 2rem;
}

.op {
  pointer-events: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  height: 35px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.dropdown-content input[type="submit"]{
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  text-align: center;
  word-spacing: 10px;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.dropbtn:focus + .dropdown-content {
  display: block;
}

.dropdown-content input[type="submit"]:hover {
  background-color: #dddddd;
  border-radius: 3px;
  font-size: 1rem;
}

/*----------POST----------*/
.post-photo input[type="image"]{
  width: 100%;
  height: 35vw;
}

/*--------Post-Footer-------*/
.post-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  margin-top: -4px;
  margin-bottom: 2.5rem;
}

.post-actions {
  width: 70%;
  display: flex;
  align-items: center;
}

.post-like {
  margin: 0.5rem;
  position: relative;
}

.post-like button {
  width: 2.3rem;
  height: 2.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.dill {
  font-size: 2rem;
  user-select: none;
}

.dill:hover {
  font-size: 2.2rem;
  color: #f50057;
}
/*------Comments--------*/

.post-comment {
  margin: 0.5rem;
}

.post-comment button {
  width: 2.3rem;
  height: 2.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  user-select: none;
}

.post-comment button:hover{
  font-size: 2.2rem;
  color: #fd9644;
}

/*--------Share--------*/
.post-share {
  margin: 0.5rem;
}

.post-share button {
  width: 2.3rem;
  height: 2.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  user-select: none;
}

.post-share button:hover{
  font-size: 2.2rem;
  color: #00ACEE;
}

/*--------Save--------*/
.post-save {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 2rem;
}

.sav_act {
  width: 2.3rem;
  height: 2.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  user-select: none;
}

.sav_act:hover{
  color: #20bf6b;
  font-size: 2.2rem;
}

.sav_act:focus + .save-options {
  display: block;
  pointer-events: all;
}

.save-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  height: auto;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.save-options:first-child{
  padding: 0.2rem 0.8rem;
  word-spacing: 12px;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  display: block;
  text-align: left;
  width: 100%;
  background-color: orange;
}

.save-options button{
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 8px 8px;
  outline: none;
  display: block;
  text-align: center;
  word-spacing: 10px;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.save-options button:hover {
    background-color: #dddddd;
    font-size: 1rem;
}

.save-options button:hover {
    background-color: #dddddd;
    font-size: 1rem;
}
/*---------Responsive---------*/
@media screen and (max-width: 375px) {
  .logo {
    margin-left: 10%;
  }

  .main {
    width: 100%;
  }

  .post-photo .post {
    height: 50vh;
  }
}
